*{
    font-family: 'Roboto', sans-serif;
    color: white;
}

body{
    background-image: url("olympus.jpg");
    background-size: cover;
    background-repeat:   no-repeat;
}

.title{
    font-size: 30pt;
    font-weight: bold;
}

.intro{
    width: 54%;
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 18pt;
}